// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem 0;
    width: 100%;
    border-bottom: 2px dashed #C0C0C0;

        .navJumbo {
            width: 50%;
        }
        .navLinks {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            a {
                text-decoration: none;
                color:#000000;
                font-size: 1.7rem;
            }
        }

}